<!DOCTYPE html>
<html>
<body>

<h1>1A2B Pro Online User API List</h1>
<p>Every api can use data.exception to get error message if any error occurs</p>

<br>

<h2>Sign up</h2>
<p>/sign_up/&lt;account&gt;/&lt;password&gt;/&lt;name&gt;</p>
<p>status_code = data.result, account = data.account, name = data.name</p>
<p>0 (success) / 1 (account not unique) / -1 (unknown error)</p>

<br>

<h2>Get Password</h2>
<p>/get_login/&lt;account&gt;</p>
<p>password = data.password</p>
<p>(if account not existed, data.password == 0)</p>

<br>

<h2>Get Score / Win / Lose</h2>
<p>/get_score/&lt;account&gt;</p>
<p>score = data.score, win(PVP) = data.win_p, lose(PVP) = data.lose_p, win(PVE) = data.win_e, lose(PVE) = data.win_e</p>
<p>(if account not existed, data.score == data.win_p == data.lose_p == data.win_e == data.lose_e == -1)</p>

<br>

<h2>Note that the logic of add win and add lose is</h2>
<p>Enter game, add lose to both players.</p>
<p>Game ended, add win to the winner.</p>

<br>

<h2>Add Win (PVP)</h2>
<p>/pvp/add_win/&lt;account&gt;</p>
<p>status_code = data.result</p>
<p>0 (success) / -1 (error)</p>

<br>

<h2>Add Lose (PVP)</h2>
<p>/pvp/add_lose/&lt;account&gt;</p>
<p>status_code = data.result</p>
<p>0 (success) / -1 (error)</p>

<br>

<h2>Add Win (PVE)</h2>
<p>/pve/add_win/&lt;account&gt;</p>
<p>status_code = data.result</p>
<p>0 (success) / -1 (error)</p>

<br>

<h2>Add Lose (PVE)</h2>
<p>/pve/add_lose/&lt;account&gt;</p>
<p>status_code = data.result</p>
<p>0 (success) / -1 (error)</p>

<br>

<h2>Select rival</h2>
<p>/online/&lt;account&gt;/&lt;rival1's account&gt;/&lt;rival2's account&gt;/...</p>
<p>rival = data.rival</p>
<p>(if account or none of the rivals' accounts not existed, data.rival == 0)</p>

</body>
</html>