<!DOCTYPE html>
<html>
<body>
<div style="width:900px;height:800px;text-align:center;">
    <div style="width:900px;height:800px;background-image:url('../static/images/welcome.jpg');">
        <div id="title" style="position:absolute;bottom:400px;right:50px;">
            <p>
            1A2B-Pro-Online
            </p>
        </div>
        <form id="form1" style="position:absolute;bottom:0px;right:100px;" runat="server">
            <div><button id = "head"><font face="cursive"; size="10";>Start</font></button></div>
            <div><button id = "left"><font face="cursive"; size="10";>Mode</font></button></div>
            <div><button id = "content"><font face="cursive"; size="10";>Exit</font></button></div>
        </form>
    </div>
</div>
<script src = "../static/js/index.js"></script>

</body >
<style type ="text/css">
        #head,#left,#content{
            size:10;
            border:1px solid black;
            width:400px;
            height:80px;
            margin-left:0px;
        }
        #title{
            width:500px;
            height:80px;
            margin-left:0px;
        }
        p{
            font-size:60px;
        }
</style>
</html>